# mkdocs.yml
site_name: Psymple Docs
site_url: https://casasglobal-org.github.io/psymple/

repo_url: https://github.com/casasglobal-org/psymple/
repo_name: casasglobal-org/psymple

theme:
  name: "material"
  icon:
    annotation: material/plus-circle
  features:
    - content.tooltips
    - content.code.copy
    - content.code.annotate
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - search.suggest
    - search.highlight

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - attr_list
  - md_in_html
  - abbr
  - pymdownx.snippets
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.tabbed:
      alternate_style: true

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

plugins:
- autorefs:
    resolve_closest: true
- mkdocstrings:
    handlers:
      python:
        options:
          docstring_options:
            ignore_init_summary: true
          merge_init_into_class: true
          show_root_heading: true
          show_root_full_path: false
          docstring_section_style: spacy
- search

extra:
  version:
    provider: mike
    default: latest

nav:
  - Introduction: index.md
  - Overview:
    - Hybrid systems modelling: overview/modelling_systems.md
    - Mechanistic vs. correlative models: overview/modelling_types.md
    - System desgin: overview/system_design.md
  - User guide:
    - Building a model:
      - Defining functions: components/functional_ported_objects.md
      - Defining ODEs: components/variable_ported_objects.md
      - Defining composite models: components/composite_ported_objects.md
    - Building a simulable system:
      - Compilation: user_guide/compilation.md
      - Building a system: user_guide/system.md
    - Running a simulation: 
      - Simulations: user_guide/simulation.md
    - Examples:
      - examples/tutorials.md
      - Mixing problems: 
        - Single tank: examples/mixing_problems/single_tank.md
        - Multiple tanks: examples/mixing_problems/multiple_tanks.md
  - Mathematical components:
    - Ported objects: mathematics/ported_objects.md
    - Variables and parameters: mathematics/variables_parameters.md
    - Functional substitution: mathematics/functional_substitution.md
    - Variable aggregation: mathematics/variable_aggregation.md
  - Reference:
    - psymple.build:
      - Assignments: reference/build/assignments.md
      - Compilation: reference/build/compilation.md
      - Data: reference/build/data.md
      - Ported objects: reference/build/ported_objects.md
      - Ports: reference/build/ports.md
      - Wires: reference/build/wires.md
      - System: reference/build/system.md
    - psymple.simulate:
      - Simulation: reference/simulate/simulation.md
      - Solvers: reference/simulate/solvers.md
    - psymple.core:
      - Variables: reference/variables.md
  
